[user]
	name = Travis Cole
	email = 11240+kelp@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFTxO862P3EGPie5tC19+vWqB+5ppVOmqakBtKTuIL4T
[color]
	ui = true
[commit]
	verbose = true
	gpgsign = true
[core]
	autocrlf = input
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = /Users/tcole/.config/git/allowed_ssh_signers
[push]
	default = current
	autoSetupRemote = true
