xbindkeys
export QT_AUTO_SCREEN_SCALE_FACTOR=1
export GDK_SCALE=1

# Used by i3-sensible-terminal
export TERMINAL=alacritty
[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources
#xrandr --setprovideroutputsource modesetting NVIDIA-0
xrandr --auto
xrandr --dpi 192

#xautolock -time 5 -locker "i3lock -i $HOME/.config/i3/arch-linux-logo-binary-code-minimal.png" &
xset dpms 0 300 0
#xss-lock -- i3lock -n -i $HOME/.config/i3/arch-linux-logo-binary-code-minimal.png &
export XSECURELOCK_FONT='-misc-dejavu sans-medium-r-normal--34-0-0-0-p-0-iso10646-1'
xss-lock -n /usr/lib/xsecurelock/dimmer -l -- xsecurelock &

# Applications#
nm-applet &
#autocutsel -fork &
#autocutsel -selection PRIMARY -fork &
