export QT_AUTO_SCREEN_SCALE_FACTOR=1
export GDK_SCALE=1
export TERMINAL=alacritty
[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources
xrandr --setprovideroutputsource modesetting NVIDIA-0
xrandr --auto
xrandr --dpi 110
# TODO figure out why this doesn't work
#xmodmap ~/.Xmodmap

#xautolock -time 5 -locker "i3lock -i $HOME/.config/i3/arch-linux-logo-binary-code-minimal.png" &
xset dpms 0 600 0
xset s 600 5
xss-lock -n /usr/lib/xsecurelock/dimmer -l -- env XSECURELOCK_SAVER=saver_blank XSECURELOCK_NO_COMPOSITE=1 xsecurelock &

# Applications
nm-applet &
